<div class="actions-container has-actions macro-container" data-actionbartype="actions" data-title="Macros">
        <div class="macro-element-container macro-element-count-{{count}}" style="width: calc({{count}} / 2 * 105px)">
        {{#each macros}}
            <div class="macro-element" data-slot="{{@key}}" data-macro-id="{{id}}" style="background-image: url({{img}})" data-tooltip="{{name}}" data-type="{{type}}" aria-describedby="tooltip"></div>
        {{/each}}
        </div>
        <div class="macro-container-before">
            <i class="fas fa-folder"></i>{{#if (eq count 2)}} M {{else}} Macros {{/if}}<i class="fas fa-folder"></i>
        </div>
</div>