
.macro-element-container {
  width: 210px;
  display: flex;
  flex-wrap: wrap;
}

.actions-container.macro-container:before {
  content: '';
}

.macro-element-container .macro-element {
  cursor: pointer;
  display: flex;
  position: relative;
  min-height: 100px;
  padding: 0;
  min-width: 105px;
  /* transition: all 0.3s ease-in-out; */

  background: var(--ech-mainAction-base-background) center no-repeat;
  background-origin: border-box;
  background-size: cover;
  border: 1px solid var(--ech-mainAction-base-border);
  color: var(--ech-mainAction-base-color);
}

.macro-element-container .macro-element:not([data-macro-id=""]):hover {
  box-shadow: 0 0 10px var(--shadowcolor) inset;
  border: 2px solid var(--color-border-highlight-alt);
}

.macro-element:not([data-macro-id=""]):not(.is-dragged):hover, .macro-element.drag-over {
  /* background-color: var(--ech-mainAction-hover-background);
  border-color: var(--ech-mainAction-hover-border);
  color: var(--ech-mainAction-hover-color);
  filter: blur(0px) brightness(150%);
  -webkit-filter: blur(0px) brightness(150%); */
}

.is-dragged {
  filter: grayscale(1);
}

.macro-element #context-menu li.context-item {
  font-size: var(--font-size-14);
  font-weight: initial;
}

.macro-container-before {
  cursor: pointer;
  align-items: center;
  backdrop-filter: blur(6px);
  bottom: -55px;
  display: flex;
  font-size: 1.2rem;
  height: 55px;
  justify-content: space-evenly;
  left: 0.5rem;
  position: absolute;
  text-transform: uppercase;
  width: calc(100% - 1rem);
  /* background-color: rgb(0 0 0 / 30%); */
  border: 1px solid var(--ech-mainAction-base-border);
  color: rgb(200 200 200);
}

.macro-container-before i {
  visibility: hidden;
}

.macro-container-before:hover i {
  visibility: visible;
}